/* index.html */
.index a {
    color: darkmagenta;
}

.index ul{
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    padding: 30px;
}

.index h1{
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    color: black;
    display: inline;
}

/* mac-and-cheese.html */

.mac-head{
    color: goldenrod;
    text-decoration: underline;
}

.mac-desc{
    color: white;
    background-color: darkorange;
    display: inline;
}

.mac-ing{
    color: white;
    background-color: darkorange;
    display: inline;
}

.mac-steps{
    color: white;
    background-color: darkorange;
    display: inline;
}